# General convenience aliases
alias ..='cd ..'
alias q='logout'
alias opn='open .'
alias rm='rm -irv'
alias getip='ipconfig getifaddr en0'

# Copy to clipboard commands
alias cwd='pwd | pbcopy'
alias cip='getip | pbcopy'

# Postgres commands
alias psql_start='postgres -D ~/psqldata'
alias pqsl_start_log='pg_ctl -D ~/psqldata -l logfile start'

# Alias commands depending on installed prerequisites
command -v nvim >/dev/null 2>&1 && alias vi='nvim' && alias vim='nvim'
command -v highlight >/dev/null 2>&1 && alias ccat='highlight -O xterm256 --style=zenburn --skip --failsafe'

