[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[user]
    name = Andrew Kwon
    email = askwon@ucdavis.edu
    askwon = Andrew Kwon
[credential]
    helper = osxkeychain
[core]
    editor = vim
[color]
    ui = always
[color "status"]
	added = green
	changed = red
	untracked = cyan
[color "diff"]
    meta = yellow bold
    commit = green
    frag = magenta bold
    old = red
    new = green
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red bold 52
    newNormal = green
    newHighlight = green bold 22
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    s = "status"
    st = "!f() { [[ $(git status --porcelain) ]] && ls -logrtd $(git status --porcelain | grep '^.[?M]' | sed 's/^.. //') | sed 's/^[^ ][^ ]*  *[^ ][^ ]* *[^ ][^ ]* //'; }; f"
    dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
[push]
    default = simple
